<%# <h1>Costumes#show</h1>
<p>Find me in app/views/costumes/show.html.erb</p>
<%= render 'requests/form', costume: @costume, request: @request %>
<div class="container" style="">
<h2 class="border-bottom my-3">Costume Page</h2>
  <div class="row">
    <div class="col">
      <div class="show-left">

        <div class = "costume-show-image-primary">
          <%= image_tag @costume.photos.attached? ? url_for(@costume.photos[0]) : "https://i.etsystatic.com/12503620/r/il/0260a0/2006887017/il_570xN.2006887017_jttt.jpg", alt: @costume.title, class: "img-fluid mb-3", style: "height: 100%; width: 100%; border-radius: 24px; margin-bottom: 8px; object-fit: cover;" %>
        </div>

        <div class="row">
          <div class="costume-show-image-secondary">
            <%= image_tag @costume.photos.attached? ? url_for(@costume.photos[2]) : "https://uwowocosplay.com/cdn/shop/products/4_671b3fe8-c826-4701-8715-1ff8c3cc3743.jpg?v=1684991853", alt: "Thumbnail 2", class: "img-fluid", style: "height: 100%; width: 100%; border-radius: 24px; margin-bottom: 8px; object-fit: cover;" %>
          </div>

          <div class="costume-show-image-secondary">
            <%= image_tag @costume.photos.attached? ? url_for(@costume.photos[1]) : "https://img.fruugo.com/product/2/49/693407492_max.jpg", alt: "Thumbnail 1", class: "img-fluid", style: "height: 100%; width: 100%; border-radius: 24px; margin-bottom: 8px; object-fit: cover;" %>
          </div>

          <div class="costume-show-image-secondary">
            <%= image_tag @costume.photos.attached? ? url_for(@costume.photos[2]) : "https://uwowocosplay.com/cdn/shop/products/4_671b3fe8-c826-4701-8715-1ff8c3cc3743.jpg?v=1684991853", alt: "Thumbnail 2", class: "img-fluid", style: "height: 100%; width: 100%; border-radius: 24px; margin-bottom: 8px; object-fit: cover;" %>
          </div>

          <div class="costume-show-image-secondary">
            <%= image_tag @costume.photos.attached? ? url_for(@costume.photos[2]) : "https://uwowocosplay.com/cdn/shop/products/4_671b3fe8-c826-4701-8715-1ff8c3cc3743.jpg?v=1684991853", alt: "Thumbnail 2", class: "img-fluid", style: "height: 100%; width: 100%; border-radius: 24px; margin-bottom: 8px; object-fit: cover;" %>
          </div>

        </div>
      </div>
    </div>

    <div class="col">

      <div class="show-right">
        <div class="costume-show-text">
          <div class="costume-head d-flex justify-content-between" style="height: 80px;">
            <h1><%= @costume.title %></h1>
            <%= image_tag @costume.user.photo.attached? ? url_for(@costume.user.photo) : src="https://lh3.googleusercontent.com/a/ACg8ocIVADxXTymJNIDRswlN4rz-pcJz13cUMNcXPXMjMSGSAqU--q5y=s360-c-no", class: "rounded-circle mr-2 ", alt: "user-avatar", style: "height: 60px; width: 60px;" %>
          </div>
          <div>
            <p class="my-2"><%= @costume.description %></p>
            <p class="my-2"><strong>Size:</strong> <%= @costume.size %></p>
            <p class="my-2"><strong>Category:</strong><%= @costume.category %></p>
          </div>
        </div>

        <div class="render-form" style=" margin: 32px;">
          <%= render 'requests/form', costume: @costume, request: @request %>
        </div>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="reviews">
        <div class="review border"  style=" margin: 10px ">
          <h4>reviews</h4>
          <textarea name="" id="" value ="this is a nice costume">
        </textarea>
        </div>
      </div>
    </div>
  </div>
</div>
