<%# <h1>Costumes#show</h1>
<p>Find me in app/views/costumes/show.html.erb</p>
<%= render 'requests/form', costume: @costume, request: @request %>
<div class="container" style="margin-top: 36px; width: 1200px;">
  <div class="row">
    <div class="col">
      <div class="show-left">
        <div class = "costume-show-image-primary">
          <%= cl_image_tag @costume.photos.attached? ? @costume.photos[0].key : "https://i.etsystatic.com/12503620/r/il/0260a0/2006887017/il_570xN.2006887017_jttt.jpg", alt: @costume.title, style: "height: 100%; width: 100%; border-radius: 24px; margin-bottom: 8px; object-fit: cover;" %>
        </div>
        <div class="row">
          <div class="costume-show-image-secondary">
            <%= cl_image_tag @costume.photos.attached? ? @costume.photos[2].key : "https://uwowocosplay.com/cdn/shop/products/4_671b3fe8-c826-4701-8715-1ff8c3cc3743.jpg?v=1684991853", alt: "Thumbnail 2", style: "height: 100%; width: 100%; border-radius: 24px; margin-bottom: 8px; object-fit: cover;" %>
          </div>
          <div class="costume-show-image-secondary">
            <%= cl_image_tag @costume.photos.attached? ? @costume.photos[1].key : "https://img.fruugo.com/product/2/49/693407492_max.jpg", alt: "Thumbnail 1", style: "height: 100%; width: 100%; border-radius: 24px; margin-bottom: 8px; object-fit: cover;" %>
          </div>
          <div class="costume-show-image-secondary">
            <%= cl_image_tag @costume.photos.attached? ? @costume.photos[2].key : "https://uwowocosplay.com/cdn/shop/products/4_671b3fe8-c826-4701-8715-1ff8c3cc3743.jpg?v=1684991853", alt: "Thumbnail 2", style: "height: 100%; width: 100%; border-radius: 24px; margin-bottom: 8px; object-fit: cover;" %>
          </div>
          <div class="costume-show-image-secondary">
            <%= cl_image_tag @costume.photos.attached? ? @costume.photos[2].key : "https://uwowocosplay.com/cdn/shop/products/4_671b3fe8-c826-4701-8715-1ff8c3cc3743.jpg?v=1684991853", alt: "Thumbnail 2", style: "height: 100%; width: 100%; border-radius: 24px; margin-bottom: 8px; object-fit: cover;" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="show-right">
        <div class="costume-show-text">
          <div class="costume-head d-flex justify-content-between" style="height: 80px;">
            <h1 class="show-costume-title"><%= @costume.title %></h1>
            <%= cl_image_tag @costume.user.photo.attached? ? @costume.user.photo.key : "https://lh3.googleusercontent.com/a/ACg8ocIVADxXTymJNIDRswlN4rz-pcJz13cUMNcXPXMjMSGSAqU--q5y=s360-c-no", class: "rounded-circle mr-2 ", alt: "user-avatar", style: "height: 60px; width: 60px;" %>
          </div>
          <div>
            <p class="my-2"><%= @costume.description %></p>
            <p class="my-2"><strong>Size: </strong><%= @costume.size %></p>
            <p class="my-2"><strong>Category: </strong><%= @costume.category %></p>
          </div>
        </div>
        <div class="render-form" style=" margin: 32px;">
          <%= render 'requests/form', costume: @costume, request: @request %>
        </div>
      </div>
    </div>
  </div>
  <div class="border col-md-12"  style="margin: 30px; background-color: white; border-radius: 20px; padding: 20px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
    <h4>reviews</h4>
    <div class="all-reviews">
      <% @costume.reviews.each do |review| %>
        <div class="review" style= "margin: 20px">
          <%=  review.user.username %>
          <%= cl_image_tag review.user.photo.attached? ? review.user.photo : "" %>
          <div class="review-infos">
            <h2><%= review.rating %></h2>
            <p><%= review.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
