<style>
  .btn-outline-primary:hover {
      background-color: #F05365; 
      color: white;
  }

  .btn-outline-primary.active,
  .btn-outline-primary:active {
      background-color: #F05365;
      color: white;
      border-color: #F05365;
  }
</style>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Costume Requests You've Received</h1>
    <%= link_to "Sent Requests", requests_path, class: "btn btn-warning btn-lg" %>
  </div>

  <div data-controller="requests">
    <div class="request-filter-bar btn-group btn-group-toggle mb-3" data-toggle="buttons">
      <%= link_to "Pending (#{@pending_requests.count})", my_requests_path(status: "pending"), class: "btn btn-outline-primary request-filter-buttons #{"active" if params[:status] == "pending"}" %>
      <%= link_to "Accepted (#{@accepted_requests.count})", my_requests_path(status: "accepted"), class: "btn btn-outline-primary request-filter-buttons #{"active" if params[:status] == "accepted"}" %>
      <%= link_to "Declined (#{@declined_requests.count})", my_requests_path(status: "declined"), class: "btn btn-outline-primary request-filter-buttons #{"active" if params[:status] == "declined"}" %>
      <%= link_to "Completed (#{@completed_requests.count})", my_requests_path(status: "completed"), class: "btn btn-outline-primary request-filter-buttons #{"active" if params[:status] == "completed"}" %>
    </div>

    <div data-requests-target="pending">
      <%= render 'requests/request_tabs', request: @requests %>
    </div>
  </div>
</div>
