<div class="container">
  <h1>Requests#index</h1>
  <p>Find me in app/views/requests/index.html.erb</p>


  <div class="request-card">
    <div class="request-card-head d-flex justify-content-between">
      <% @requests.each do |request| %>
        <p><%= request.start_date %> ~ <%= request.end_date %></p>
        <p>Total: request.price (not working)</p>
      <% end %>
    </div>
    <div class="request-card-body d-flex">
      <div class="request-image-placeholder">
      </div>
      <div class="request-card-text">
        <% @requests.each do |request| %>
          <h5 class="request-index-card-title"><%= request.costume.title %></h5>
          <p class="request-index-card-text"><%= request.costume.description %></p>
          <p class="request-index-card-price"><strong>Customer: </strong><%= request.costume.user.username %></p>
        <% end %>
      </div>
      <div class="request-card-buttons">
        <p class="request-accept"><strong>Request pending...</strong></p>
        <p class="request-decline"><strong><%= link_to 'Delete request', '/destroy', class: "text-decoration-none text-white" %></strong></p>
      </div>
    </div>

  </div>

</div>
